<%- include ("partials/header"); -%>
<div class="container">
<div class="card" style="width: 25rem;">
    <div class="card-body detail">
      <h4 class="card-title" style="text-align: center;"> <%=indi.fname%> <%=indi.lname%>   </h4>
      <p class="card-text"><u> <b> Acc Number</u>: </b><%=indi.acc_num%>  </p>
      <p class="card-text"><u><b> Address</u>:</b> <%=indi.addr%> </p>
      <p class="card-text"><u><b>Email</u>:</b> <%=indi.email%></p>
      <p class="card-text"><u><b>Current Balance</u>: </b>RS-<%=indi.currBal%> /-</p>
      

     
    </div>
  </div>
  </div>




<%- include("partials/footer") -%>